<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8">
  <meta name="authors" content="Bart Blimke, James Conroy-Finn et al">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/stylesheets/screen.css" media="screen"></link>
</head>

<body id="webmock-2">
  <div id="container">
    <section>
      <a href="http://github.com/webmock/webmock">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://d3nwyuy0nl342s.cloudfront.net/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub">
      </a>
    </section>

    <header>
      <h1><a href="/">WebMock</a></h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/docs">Docs</a></li>
          <li><a href="/contributors">Contributors</a></li>
          <li><a href="https://github.com/webmock/webmock/wiki">Wiki</a></li>
          <li><a href="https://github.com/webmock/webmock">Source</a></li>
        </ul>
      </nav>
    </header>

    <article>
      {{ content }}
    </article>
  </div>

  <script type="text/javascript">
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4e18302b613f5d504f000001');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>
